/* .greeting{
    color:blue;
} */

input#amount {
    width: 5%;
}

select#currency {
    width: 10%;
}

body {
    color: #132C33;
    background-color: #D8E3E7;
}

.display-1 {
    font-weight: initial;
    font-style: italic;
}

div.container {
    padding: 3%;
    width: 65%;
    border-radius: 5px;
    margin-top: 5%;
    background-color: #51C4D3;
}
